body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(https://images.pexels.com/photos/62693/pexels-photo-62693.jpeg?auto=compress&cs=tinysrgb&w=600) no-repeat ;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

header {
    background: #333;
    color: white;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    align-items: left;
}

.hero {
    background: url('') no-repeat center center/cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    
}

.about, .projects, .contact {
    padding: 50px 20px;
    background: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.project-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project {
    background: #fff;
    padding: 10px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.project img {
    width: 100%;
    border-radius: 10px;
}

form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    
}

input, textarea {
    padding: 10px;
    margin: 10px 0;
    border: ;
    border-radius: 5px;
    border-color: black;
}

button {
    background: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

footer {
    background: #222;
    color: white;
    padding: 20px 0;
    margin-top: 20px;
}
